body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.8fr 6fr;
  background-color: white;
}

/* Dashboard stuff */
.dashboard {
  padding: 15px;
  background-color: lightblue;

}
.dashboardStuff span{
    font-size: 40px;
}
a {
  
  background-color: red;
}
span {
margin-right: 15px;
  background-color: red;
  
}


.flex-align, li{

  display: flex;
  background-color: orange;
  align-items: center;
}

li { 
    margin: 10px;
}
ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  
}

.main {
  background-color: black;
}

/* header */

.header {
  background-color: red;
  display: flex;
  gap: 1em;
}
.user {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 1em;
  margin-right: 10px;
  align-items: center;
}

.user > .userIcon{
    font-size: 45px;
}
/* search */
.search {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: center;
}

.projects {
    background-color: green;
}
input {
    background-color: white;
    height: 40%;
    width: 100%;
}


h3{
    background-color: white;
}

/* controls */

.controls {
  background-color: pink;
  display: flex;
  height: 10%;

}
.controls span{
    margin: 20px;
    font-size: 60px;
}

p{
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: -1em;
}

.buttons{

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    width: 40%;


}

button{

    height: 25%;
    width: 50%;
background-color: lightblue;
    border-radius: 9px;
    border: none;
}

.buttons:last-child{
    margin-right: 2em;
}


.empty{
    width: 60%;
}

/* was breaking for some reason, this fixes it */
h2{
    white-space: nowrap; 
}